.bg-grey {
    background: #F4F4F4;
}

.main-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 18px;
}

.upper-container {
    margin-bottom: 55px;
}

.header {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.upper-container .paragraph {
    font-size: 14px;
    line-height: 25px;
}

.who-we-are {
    margin-bottom: 30px;
}

.who-we-are .header {
    margin-bottom: 20px;
}

.why-main {
    padding-top: 18px;
    padding-bottom: 22px;
    text-align: center;
}

.paragraph {
    margin-top: 8px;
    font-size: 10px;
    line-height: 15px;
}

.paragraph span {
    display: block;
}

.get-involved {
    margin-top: 30px;
    margin-bottom: 30px;
}

.get-involved-header img {
    width: 100%;
}

@media (min-width: 760px) {
    .about-us-section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .upper-container {
        margin-bottom: 0;
    }

    .main-header {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 10px;
    }

    .upper-container .paragraph {
        font-size: 16px;
        line-height: 22px;
    }

    .who-we-are {
        margin-bottom: 0;
    }

    .who-we-are .header {
        margin-bottom: 20px;
    }

    .header {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 22px;
    }

    .upper-container .paragraph {
        margin-top: 15px;
    }

    .why-main {
        padding-top: 0;
        padding-bottom: 0;
    }

    .get-involved {
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0;
    }

    .get-involved .paragraph {
        margin-top: 30px;
    }
}

@media (min-width: 1024px) {
    .about-us-section {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .upper-container {
        width: 85%;
    }

    .main-header {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 12px;
    }

    .upper-container .paragraph {
        font-size: 18px;
        line-height: 25px;
    }

    .who-we-are .header {
        margin-bottom: 25px;
    }

    .header {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .paragraph {
        font-size: 18px;
        line-height: 25px;
    }

    .paragraph .lower {
        margin-top: 2rem;
    }

    .upper-container .paragraph {
        margin-top: 15px;
    }

    .why-main {
        text-align: left;
        width: 90%;
    }

    .get-involved {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .get-involved .paragraph {
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {
    .about-us-section {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .main-header {
        font-size: 70px;
        line-height: 85px;
        margin-bottom: 18px;
    }

    .upper-container .paragraph {
        font-size: 20px;
        line-height: 30px;
    }

    .who-we-are .header {
        margin-bottom: 25px;
    }

    .header {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 16px;
    }

    .paragraph {
        font-size: 20px;
        line-height: 30px;
    }

    .upper-container .paragraph {
        margin-top: 25px;
    }

    .get-involved {
        padding-top: 60px;
    }
}

@media (min-width: 1900px) {
    .about-us-section {
        padding-top: 63px;
        padding-bottom: 70px;
    }

    .upper-container {
        width: 75%;
    }

    .main-header {
        font-size: 85px;
        line-height: 109px;
        margin-bottom: 18px;
    }

    .upper-container .paragraph {
        font-size: 24px;
        line-height: 40px;
    }

    .who-we-are .header {
        margin-bottom: 33px;
    }

    .header {
        font-size: 47px;
        line-height: 68px;
        margin-bottom: 20px;
    }

    .paragraph {
        font-size: 25px;
        line-height: 40px;
    }

    .upper-container .paragraph {
        margin-top: 30px;
    }

    .get-involved {
        padding-top: 63px;
        padding-bottom: 51px;
    }

    .get-involved .header {
        margin-bottom: 35px;
    }

    .get-involved .paragraph {
        margin-top: 40px;
    }
}
