@media (min-width: 1900px) {
    .main-page-upper {
        width: 80%;
        margin-bottom: 90px;
    }

    .main-header {
        padding: 10px 0 20px;
        font-size: 90px;
        font-weight: 700;
        line-height: 100px;
        text-align: left;
    }

    .main-page-upper p {
        padding-right: 120px;
    }

    .main-page-upper p,
    .middle-section p{
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
    }

    .main-button-container {
        padding: 20px 0;
    }

    .sub-header {
        font-size: 47px;
        line-height: 65px;
        margin-bottom: 32px;
    }

    .main-section {
        padding-bottom: 95px;
    }

    .middle-section {
        padding-top: 49px;
        padding-bottom: 23px;
        text-align: center;
    }

    .middle-section .paragraph-container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 49px;
    }

    .middle-section .paragraph-container p {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }

    .bottom-section {
        padding-top: 70px;
        padding-bottom: 85px;
    }

    .slider-container {
        margin-top: 24px;
    }

    .insta {
        margin-top: 23px;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-gap: 2rem;
}

.sub-header {
    font-weight: 700;
}

.middle-section {
    background: #F4F4F4;
}

.insta {
    display: flex;
    justify-content: center;
}

.insta a {
    color: #818181;
    font-size: 19px;
    line-height: 57px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
}

.insta a:hover {
    color: #7f708d;
}

.insta .link {
    font-family: Maven Pro, sans-serif;
    margin-left: 14px;
}

.insta img {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);;
}