.tiles {
    display: grid;
    grid-gap: 10px;
}

.middle-section {
    background: #F4F4F4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.insta {
    display: flex;
    justify-content: center;
}

.insta a {
    color: #818181;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
}

.insta a:hover {
    color: #7f708d;
}

.insta .link {
    font-family: Maven Pro, sans-serif;
    margin-left: 9px;
}

.insta img {
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
}

.main-page-upper {
    margin-bottom: 25px;
}

.main-header {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.sub-header {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 700;
}

.main-section {
    padding-bottom: 10px;
}

.middle-section .paragraph-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.middle-section .paragraph-container p {
    text-align: center;
    font-size: 13px;
    line-height: 17px;
}

.see-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.see-more:hover {
    cursor: pointer;
    color: #3b58a6 !important;
}

.see-more img{
    height: 1em;
    width: 1em;
}

.bottom-section {
    padding: 30px 0;
    scroll-margin-top: 60px;
    min-height: 100vh;
}

@media (min-width: 760px) {
    .tiles {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (min-width: 1024px) {
    .bottom-section {
        scroll-margin-top: 80px;
    }
}

@media (min-width: 1400px) {
    .support {
        width: 80%;
        margin-bottom: 30px;
    }

    .support p {
        padding-right: 30px;
        font-size: 16px;
        line-height: 25px;
    }

    .tiles {
        grid-gap: 1.7rem;
        grid-template-columns: repeat(4,minmax(0,1fr));
    }

    .main-page-upper {
        width: 80%;
        margin-bottom: 45px;
    }

    .main-header {
        padding: 10px 0 16px;
        font-size: 72px;
        font-weight: 700;
        line-height: 88px;
        text-align: left;
    }

    .main-page-upper p {
        padding-right: 30px;
    }

    .main-page-upper p {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    .sub-header {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 25px;
    }

    .main-section {
        padding-bottom: 20px;
    }

    .middle-section {
        padding-top: 39px;
        padding-bottom: 23px;
    }

    .middle-section .paragraph-container {
        width: 815px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 38px;
    }

    .middle-section .paragraph-container p {
        text-align: center;
        font-size: 15px;
        line-height: 24px;
    }

    .bottom-section {
        padding-top: 45px;
        padding-bottom: 45px;
        scroll-margin-top: 130px;
    }

    .slider-container {
        margin-top: 24px;
        padding: 0 40px;
    }

    .insta {
        margin-top: 23px;
    }

    .insta a {
        font-size: 19px;
        line-height: 57px;
    }

    .insta img {
        border-radius: 10px;
        height: 30px;
        width: 30px;
    }

    .insta .link {
        margin-left: 14px;
    }

    .see-more {
        margin-top: 30px;
    }
}

@media (min-width: 1900px) {
    .support p{
        padding-right: 120px;
        font-size: 20px;
        line-height: 30px;
    }

    .main-page-upper {
        margin-bottom: 75px;
    }

    .main-header {
        padding: 10px 0 20px;
        font-size: 90px;
        font-weight: 700;
        line-height: 100px;
        text-align: left;
    }

    .main-page-upper p {
        padding-right: 120px;
    }

    .main-page-upper p {
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
    }

    .main-button-container {
        padding: 20px 0;
    }

    .sub-header {
        font-size: 47px;
        line-height: 65px;
        margin-bottom: 32px;
    }

    .main-section {
        padding-bottom: 20px;
    }

    .middle-section {
        padding-top: 49px;
        padding-bottom: 23px;
    }

    .middle-section .paragraph-container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 49px;
    }

    .middle-section .paragraph-container p {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }

    .bottom-section {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .slider-container {
        margin-top: 24px;
        padding: 0;
    }

    .insta {
        margin-top: 23px;
    }

    .see-more {
        margin-top: 40px;
    }
}