.steps {
    display: grid;
    grid-template-rows: repeat(3, 90px 18px);
    grid-row-gap: 6px;
    margin-bottom: 30px;
}

.steps .step {
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    line-height: 22px;
}

.steps .step .step-icon {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
}

.steps .step .step-text {
    display: inline-block;
}

.steps .step .step-icon > div {
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;
}

.steps .step .step-icon > .case {
    background-image: url("../../assets/case.svg");
}

.steps .step .step-icon > .read {
    background-image: url("../../assets/read.svg");
}

.steps .step .step-icon > .donate {
    background-image: url("../../assets/donate.svg");
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrow > img {
    align-items: center;
    height: 18px;
    width: 18px;
}

.steps .step .step-icon {
    width: 47px;
    height: 47px;
}

.steps .step .step-icon > div {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.steps .step .step-icon-read > div {
    margin: 10px 7px 10px 13px;
}

.steps .step .step-text {
    margin-left: 13px;
}

.steps .step .step-container {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (min-width: 1020px) {
    .steps {
        grid-template-rows: unset;
        grid-template-columns: 2fr 0.45fr 2fr 0.45fr 2fr;
        margin-bottom: 40px;
        grid-column-gap: 0;
    }

    .arrow {
        display: flex;
        align-items: center;
        padding: 0 24px;
        background: transparent;
        justify-content: center;
    }

    .arrow > img {
        width: 40px;
        height: auto;
    }

    .steps .step .step-container {
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .steps {
        margin-bottom: 80px;
    }

    .steps .step {
        padding: 25px 38px;
        font-size: 15px;
        line-height: 20px;
        border-radius: 33px;
    }

    .steps .step .step-icon {
        width: 74px;
        height: 74px;
    }

    .steps .step .step-icon > div {
        width: 30px;
        height: 30px;
        margin: 22px;
    }

    .steps .step .step-icon-read > div {
        margin: 25px 21px 25px 29px !important;
    }

    .steps .step .step-text {
        margin-left: 23px;
    }

    .arrow > img {
        width: 60px;
        height: auto;
    }
}

@media (min-width: 1900px) {
    .steps {
        margin-bottom: 80px;
    }

    .steps .step {
        font-size: 20px;
        line-height: 30px;
    }

    .steps .step .step-icon {
        width: 96px;
        height: 96px;
    }

    .arrow > img {
        width: 78px;
    }

    .steps .step .step-icon > div {
        width: 45px;
        height: 45px;
        margin: 25px;
    }
}
