.container .receiver-images {
    margin-bottom: 15px;
}

.container .receiver-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.receiver-description {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 18px;
    background: #F4F4F4;
    min-height: 200px;
    margin-bottom: 20px;
}

.receiver-top span {
    font-size: 12px;
    font-weight: bold;
}

.receiver-top span.span-margin-left {
    margin-left: 0.3rem;
}

.receiver-top span a {
    color: black;
}

.receiver-body {
    flex-grow: 1;
}

.receiver-body h1 {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    color: #4378FF;
}

.receiver-body p {
    font-size: 14px;
    line-height: 18px;
}

.receiver-bottom {
    margin-top: 10px;
    margin-right: -10px;
    font-weight: bold;
    font-size: 13px;
}

.receiver-bottom h2 {
    margin: 0;
    font-size: 1.3em;
}

.receiver-bottom a {
    color: #3b58a6;
}

.receiver-bottom a:visited {
    color: #3b58a6;
}

.receiver-bottom a:hover {
    color: #FFB800;
}

@media (min-width: 1020px) {
    .container {
        min-height: 400px;
        margin-bottom: 20px;
        display: flex;
    }

    .description-container {
        display: inline-block;
        width: calc(50% - 20px);
    }

    .receiver-description {
        display: flex;
        flex-direction: column;
        height: calc(100% - 36px);
        border-radius: 20px;
        padding: 18px;
        background: #F4F4F4;
        margin-bottom: 0;
    }

    .container .receiver-images {
        display: inline-block;
        width: calc(50% - 20px);
        margin: 0 40px 0 0;
    }
}

@media (min-width: 1400px) {
    .container {
        margin-bottom: 30px;
    }

    .receiver-top span {
        font-size: 20px;
        line-height: 30px;
    }

    .receiver-body h1 {
        font-size: 35px;
        line-height: 45px;
        margin: 20px 0;
    }

    .receiver-body p {
        font-size: 18px;
        line-height: 25px;
    }

    .receiver-bottom {
        margin-top: 20px;
        margin-right: 0;
        font-size: 18px;
        line-height: 25px;
    }

    .container {
        min-height: 500px;
        grid-gap: 30px;
    }

    .container .receiver-images img {
        border-radius: 45px;
    }

    .receiver-description {
        border-radius: 45px;
        height: calc(100% - 80px);
        padding: 40px;
    }
}

@media (min-width: 1900px) {
    .container {
        margin-bottom: 30px;
    }

    .receiver-top span {
        font-size: 24px;
        line-height: 41px;
    }

    .receiver-body h1 {
        font-size: 47px;
        line-height: 50px;
        margin: 25px 0;
    }

    .receiver-body p {
        font-size: 24px;
        line-height: 35px;
    }

    .container {
        min-height: 600px;
        grid-gap: 50px;
    }

    .receiver-description {
        height: calc(100% - 128px);
        padding: 64px 35px;
    }

    .receiver-bottom {
        margin-top: 20px;
        margin-right: 0;
        font-size: 24px;
        line-height: 35px;
    }
}
