.content-container {
    padding: 0 20px;
}

@media (min-width: 1400px) {
    .content-container {
        padding: 0 44px;
    }
}
@media (min-width: 1900px) {
    .content-container {
        padding: 0 85px;
    }
}
