.main {
    background: #FFFFFF;
    box-shadow: 0 0 9px 1px rgba(67, 120, 255, 0.21);
    border-radius: 513px;
    color: #4378FF;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.main:hover {
    background: rgba(67, 120, 255, 0.35);
    color: #ffffff;
}

@media (min-width: 1400px) {
    .main {
        padding: 6px 25px;
        font-size: 20px;
        line-height: 37px;
    }
}

@media (min-width: 1900px) {
    .main {
        padding: 8px 31px;
        font-size: 25px;
        line-height: 46px;
    }
}
