.secondary {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 420px;
    border: none;
}

@media (min-width: 1900px) {
    .secondary {
        font-size: 20px;
        line-height: 38px;
        padding: 5px 30px;
    }
}
