.secondary {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 420px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.secondary:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0.1em rgba(255, 255, 255, 0.7);
}

@media (min-width: 1400px) {
    .secondary {
        font-size: 16px;
        line-height: 29px;
        padding: 4px 24px;
    }
}

@media (min-width: 1900px) {
    .secondary {
        font-size: 20px;
        line-height: 38px;
        padding: 5px 30px;
    }
}
