.footer {
    background: linear-gradient(90deg, rgba(67, 120, 255, 0.32) -0.86%, rgba(255, 184, 0, 0.32) 101.33%);
    align-self: flex-end;
    width: 100%;
}

.footer img{
    width: 27px;
    height: 27px;
}
.footer-container {
    padding: 19px;
    width: calc(100% - 38px);
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    margin: 0 0 10px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 64px;
    margin: auto;
}

@media (min-width: 1400px) {
    .footer-container {
        padding: 8px 41px;
        width: calc(100% - 82px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer .image {
        display: inline-block;
    }

    .footer img {
        width: 42px;
        height: 42px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
    }

    .footer-info .image {
        margin-right: 15px;
    }

    .footer-icons {
        width: 104px;
    }

    .footer p {
        display: inline-block;
        line-height: 23px;
        font-size: 15px;
        text-align: unset;
        margin: 0;
    }
}

@media (min-width: 1900px) {
    .footer-container {
        padding: 20px 90px;
        width: calc(100% - 180px);
    }

    .footer img {
        width: 56px;
        height: 56px;
    }

    .footer-info .image {
        margin-right: 15px;
    }

    .footer-icons {
        width: 137px;
    }

    .footer p {
        line-height: 30px;
        font-size: 20px;
    }
}
