.tile {
    background: #ffffff;
    position: relative;
    box-shadow: 0 4px 19px 1px rgba(67, 120, 255, 0.2);
    display: flex;
    align-items: stretch;
    border-radius: 13px;
}

.tile .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    color: #4378FF;
}

.tile .header {
    font-size: 15px;
    line-height: 20px;
}

.tile .paragraph-container p{
    min-height: 60px;
    line-height: 16px;
    font-size: 14px;
    margin-top: 5px;
}

.tile a {
    text-decoration: none;
    width: 100%;
}

.tile.dark {
    background-size: cover;
    box-shadow: none;
    background-position: 50% 50%;
}

.tile button {
    padding: 3px 13px !important;
    font-size: 11px !important;
    line-height: 16px !important;
}

.tile.dark .content {
    border-radius: 13px;
    color: #ffffff;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.tile .header {
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.tile .paragraph-container p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
}

.paragraph-container {
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .tile.dark:hover .content .header,
    .tile.dark:hover .content p {
        color: transparent;
    }

    .tile.dark:hover .content button  {
        background: rgba(255, 255, 255, 0.9) !important;
        color: #4378FF !important;
        border: none !important;
    }

    .tile.dark:hover .content button:hover  {
        background: rgba(67, 120, 255, 0.6) !important;
        color: #ffffff !important;
    }

    .tile:hover:not(.dark) {
        background: rgba(67, 120, 255, 0.03);
    }

    .tile.dark:hover .content{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
}

@media (min-width: 1400px) {
    .tile {
        border-radius: 26px;
    }

    .tile .content {
        padding: 21px 21px 31px;
    }

    .tile.dark .content {
        border-radius: 26px;
    }

    .tile .header {
        font-size: 20px;
        line-height: 27px;
    }

    .tile .paragraph-container p{
        min-height: 120px;
        line-height: 24px;
        font-size: 14px;
    }

    .tile button {
        font-size: 16px !important;
        line-height: 29px !important;
        padding: 4px 26px !important;
    }
}

@media (min-width: 1900px) {
    .tile {
        border-radius: 34px;
    }

    .tile .content {
        padding: 27px 28px 40px;
    }

    .tile.dark .content {
        border-radius: 34px;
    }

    .tile .header {
        font-size: 26px;
        line-height: 35px;
    }

    .tile .paragraph-container p {
        min-height: 150px;
        line-height: 30px;
        font-size: 20px;
    }

    .tile button {
        font-size: 20px !important;
        line-height: 38px !important;
        padding: 5px 30px !important;
    }
}

.loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to top, #FFB800, #4378FF) no-repeat;
    background-size: 150%;
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        opacity: 0.45;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.45;
    }
}