/* z-indexes: */
/* 1000+ modals */
/* 999-997 nav */

@font-face {
    font-family: Avenir;
    src: url("../src/assets/fonts/AvenirLTStd-Roman.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("../src/assets/fonts/AvenirLTStd-Black.otf");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Avenir, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #404040;
    font-size: 16px;
    line-height: 20px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    padding-top: 85px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-blue {
    color: #4378FF !important;
}

.text-yellow {
    color: #FFDD55 !important;
}

.slick-list {
    margin: 0 -1rem;
    cursor: grabbing;
}

.slick-slide > div {
    padding: 0 1rem;
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}

@media (min-width: 760px) {
    body {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (min-width: 1020px) {
    body {
        font-size: 15px;
        line-height: 22px;
    }

    .page-content {
        padding-top: 135px;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 20px;
        line-height: 30px;
    }

    .slick-prev {
        left: -45px;
        z-index: 10;
    }

    .slick-prev:before,
    .slick-next:before
    {
    }

    .slick-prev:before,
    .slick-next:before
    {
        display: flex;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: #E2EAFF;
    }

    .slick-prev:before {
        content: url("./assets/slider-backwards-arrow.svg");
    }

    .slick-next:before {
        content: url("./assets/slider-forwards-arrow.svg");
    }

    .slick-prev {
        left: -24px;
    }

    .slick-next {
        right: 0;
    }
}

@media (min-width: 1900px) {
    .page-content {
        padding-top: 155px;
    }

    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev:before,
    .slick-next:before
    {
        width: 60px;
        height: 60px;
    }
}
