/* z-indexes: */
/* 1000+ modals */
/* 999-997 nav */
body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1900px) {
    body {
        font-size: 20px;
    }
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-blue {
    color: #4378FF !important;
}

.text-yellow {
    color: #FFB800 !important;
}

.slick-list {
    margin: 0 -1rem;
    cursor: grabbing;
}

.slick-slide > div {
    padding: 0 1rem;
}

@media (min-width: 1900px) {
    .page-content {
        padding-top: 155px;
    }

    .slick-prev {
        left: -65px;
        z-index: 10;
    }

    .slick-prev:before,
    .slick-next:before
    {
        font-size: 60px;
        line-height: 1;

        color: black;
    }
}
